[submodule "cmake/external/protobuf"]
	path = cmake/external/protobuf
	url = git://github.com/protocolbuffers/protobuf.git
[submodule "cmake/external/googletest"]
	path = cmake/external/googletest
	url = git://github.com/google/googletest.git
[submodule "cmake/external/googlebenchmark"]
	path = cmake/external/googlebenchmark
	url = git://github.com/google/benchmark.git
[submodule "cmake/external/onnx"]
	path = cmake/external/onnx
	url = git://github.com/onnx/onnx.git
[submodule "cmake/external/tvm"]
	path = cmake/external/tvm
	url = git://github.com/microsoft/onnxruntime-tvm.git
[submodule "cmake/external/date"]
	path = cmake/external/date
	url = git://github.com/HowardHinnant/date.git
[submodule "cmake/external/nsync"]
	path = cmake/external/nsync
	url = git://github.com/google/nsync.git
[submodule "cmake/external/re2"]
	path = cmake/external/re2
	url = git://github.com/google/re2.git
[submodule "cmake/external/eigen"]
	path = cmake/external/eigen
	url = git://gitlab.com/libeigen/eigen.git
[submodule "cmake/external/cxxopts"]
	path = cmake/external/cxxopts
	url = git://github.com/jarro2783/cxxopts.git
[submodule "cmake/external/tensorboard"]
	path = cmake/external/tensorboard
	url = git://github.com/tensorflow/tensorboard.git
[submodule "cmake/external/mimalloc"]
	path = cmake/external/mimalloc
	url = git://github.com/microsoft/mimalloc.git
[submodule "cmake/external/cub"]
	path = cmake/external/cub
	url = git://github.com/NVlabs/cub.git
[submodule "cmake/external/wil"]
	path = cmake/external/wil
	url = git://github.com/microsoft/wil.git
[submodule "cmake/external/json"]
	path = cmake/external/json
	url = git://github.com/nlohmann/json.git
[submodule "server/external/spdlog"]
	path = server/external/spdlog
	url = git://github.com/gabime/spdlog.git
	branch = master
[submodule "cmake/external/libprotobuf-mutator"]
	path = cmake/external/libprotobuf-mutator
	url = git://github.com/google/libprotobuf-mutator.git
[submodule "cmake/external/flatbuffers"]
	path = cmake/external/flatbuffers
	url = git://github.com/google/flatbuffers.git
[submodule "cmake/external/SafeInt/safeint"]
	path = cmake/external/SafeInt/safeint
	url = git://github.com/dcleblanc/SafeInt.git
[submodule "cmake/external/mp11"]
	path = cmake/external/mp11
	url = git://github.com/boostorg/mp11.git
[submodule "cmake/external/coremltools"]
	path = cmake/external/coremltools
	url = git://github.com/apple/coremltools.git
[submodule "cmake/external/dlpack"]
	path = cmake/external/dlpack
	url = git://github.com/dmlc/dlpack.git
[submodule "cmake/external/emsdk"]
	path = cmake/external/emsdk
	url = git://github.com/emscripten-core/emsdk.git
	branch = 2.0.26
[submodule "cmake/external/onnxruntime-extensions"]
	path = cmake/external/onnxruntime-extensions
	url = git://github.com/microsoft/onnxruntime-extensions.git
[submodule "cmake/external/pytorch_cpuinfo"]
	path = cmake/external/pytorch_cpuinfo
	url = git://github.com/pytorch/cpuinfo.git

[submodule "cmake/external/onnx-tensorrt"]
	path = cmake/external/onnx-tensorrt
	url = git://github.com/onnx/onnx-tensorrt.git
[submodule "cmake/external/tvm_update"]
	path = cmake/external/tvm_update
	url = git://github.com/apache/tvm
